In [1]:
import pandas as pd

In [82]:
#read file and drop NAN, specify column type
df = pd.read_csv('Penalties by State CSV.csv')
df_nona = df.dropna()
df_nona.dtypes

provnum             int64
provname           object
address            object
city               object
state              object
zip                 int64
pnlty_date         object
pnlty_type         object
fine_amt          float64
payden_strt_dt     object
payden_days       float64
filedate           object
dtype: object

In [83]:
print (df)

      provnum                                           provname  \
0       15019    MERRY WOOD LODGE CARE AND REHABILITATION CENTER
1       15027            WETUMPKA HEALTH AND REHABILITATION, LLC
2       15037              WOODLEY MANOR HEALTH & REHABILITATION
3       15047            NORTHWAY HEALTH AND REHABILITATION, LLC
4       15048                         CULLMAN HEALTH CARE CENTER
5       15053                       CLEBURNE COUNTY NURSING HOME
6       15053                       CLEBURNE COUNTY NURSING HOME
7       15060          TERRACE OAKS CARE & REHABILITATION CENTER
8       15060          TERRACE OAKS CARE & REHABILITATION CENTER
9       15083        ELBA NURSING AND REHABILITATION CENTER, LLC
10      15091     NORTH HILL NURSING AND REHABILITATION CTR, LLC
11      15091     NORTH HILL NURSING AND REHABILITATION CTR, LLC
12      15114                     SHADESCREST HEALTH CARE CENTER
13      15128                            NHC HEALTHCARE, MOULTON
14      15134  BIRMINGHAM NURSING AND REHABILITATION CENTER EAST
15      15135                           JOHN KNOX MANOR INC  I I
16      15145                  GOLDEN LIVING CENTER - RIVERCHASE
17      15151                           AZALEA GARDENS OF MOBILE
18      15163                           ALBERTVILLE NURSING HOME
19      15166                        DADEVILLE HEALTHCARE CENTER
20      15166                        DADEVILLE HEALTHCARE CENTER
21      15169      FLORENCE NURSING AND REHABILITATION CTR,  LLC
22      15178                         GREENE COUNTY NURSING HOME
23      15182           GEORGIANA HEALTH AND REHABILITATION, LLC
24      15189                   GOLDEN LIVING CENTER - PELL CITY
25      15199                      CROWNE HEALTH CARE OF EUFAULA
26      15199                      CROWNE HEALTH CARE OF EUFAULA
27      15203                           ATTALLA HEALTH AND REHAB
28      15209                   GOLDEN LIVING CENTER - MEADOWOOD
29      15303          FAIRVIEW HEALTH AND REHABILITATION CENTER
...       ...                                                ...
6613   676344        MOUNT MORIAH HEALTH AND REHABILITATION, LLC
6614   676344        MOUNT MORIAH HEALTH AND REHABILITATION, LLC
6615   676344        MOUNT MORIAH HEALTH AND REHABILITATION, LLC
6616   676344        MOUNT MORIAH HEALTH AND REHABILITATION, LLC
6617   676345                               BEL AIR AT TERAVISTA
6618   676350                             THE HEIGHTS OF TOMBALL
6619   676351                           THE LANDING AT WATERMERE
6620   676351                           THE LANDING AT WATERMERE
6621   676351                           THE LANDING AT WATERMERE
6622   676356                       THE HEIGHTS OF NORTH HOUSTON
6623   676357                    THE BROADMOOR AT CREEKSIDE PARK
6624   676357                    THE BROADMOOR AT CREEKSIDE PARK
6625   676358                          THE VILLAGES ON MACARTHUR
6626   676359                   CORNERSTONE RETIREMENT COMMUNITY
6627   676359                   CORNERSTONE RETIREMENT COMMUNITY
6628   676359                   CORNERSTONE RETIREMENT COMMUNITY
6629   676360                         THE RIO AT MAINLAND CENTER
6630   676361          EAGLE LAKE NURSING AND REHABILITATION, LP
6631   676361          EAGLE LAKE NURSING AND REHABILITATION, LP
6632   676362                  BRIDGECREST REHABILITATION SUITES
6633   676362                  BRIDGECREST REHABILITATION SUITES
6634   676371         WINDSOR QUAIL VALLEY POST-ACUTE HEALTHCARE
6635   676376                                      SILVER SPRING
6636   676379              PATHWAYS MEMORY CARE AT VILLA TOSCANA
6637   676381  WEST HOUSTON REHABILITATION AND HEALTHCARE CENTER
6638   676381  WEST HOUSTON REHABILITATION AND HEALTHCARE CENTER
6639   676383                NEW BOSTON HEALTH HEALTHCARE CENTER
6640   676383                NEW BOSTON HEALTH HEALTHCARE CENTER
6641   676383                NEW BOSTON HEALTH HEALTHCARE CENTER
6642   676383                NEW BOSTON HEALTH HEALTHCARE CENTER

                           address           city state    zip  pnlty_date  \
0                      P O BOX 130         ELMORE    AL  36025   10/2/2014
1              1825 HOLTVILLE ROAD       WETUMPKA    AL  36092    6/6/2014
2                3312 WOODLEY ROAD     MONTGOMERY    AL  36116   5/21/2015
3           1424 NORTH 25TH STREET     BIRMINGHAM    AL  35234   1/27/2016
4                 1607 MAIN AVE NE        CULLMAN    AL  35055   1/14/2016
5               122 BROCKFORD ROAD         HEFLIN    AL  36264   5/16/2014
6               122 BROCKFORD ROAD         HEFLIN    AL  36264   5/16/2014
7      4201 BESSEMER SUPER HIGHWAY       BESSEMER    AL  35020   4/16/2015
8      4201 BESSEMER SUPER HIGHWAY       BESSEMER    AL  35020   1/16/2014
9               987 DRAYTON STREET           ELBA    AL  36323   2/22/2015
10        200 NORTH PINE HILL ROAD     BIRMINGHAM    AL  35217  10/11/2013
11        200 NORTH PINE HILL ROAD     BIRMINGHAM    AL  35217  10/11/2013
12            331 WEST 25TH STREET         JASPER    AL  35502    3/6/2014
13             300 HOSPITAL STREET        MOULTON    AL  35650    8/1/2014
14              733 MARY VANN LANE     BIRMINGHAM    AL  35215   3/13/2014
15           4401 NARROW LANE ROAD     MONTGOMERY    AL  36116   9/24/2015
16           2500 RIVERHAVEN DRIVE     BIRMINGHAM    AL  35244   10/2/2014
17             1758 SPRINGHILL AVE         MOBILE    AL  36607   7/31/2014
18    750 ALABAMA HIGHWAY 75 NORTH    ALBERTVILLE    AL  35950    9/3/2015
19           351 NORTH EAST STREET      DADEVILLE    AL  36853  10/14/2015
20           351 NORTH EAST STREET      DADEVILLE    AL  36853  10/14/2015
21                 2107 CLOYD BLVD       FLORENCE    AL  35630  11/20/2014
22                  509 WILSON AVE          EUTAW    AL  35462   6/26/2014
23               206 PALMER AVENUE      GEORGIANA    AL  36033   11/6/2014
24      510 WOLF CREEK ROAD, NORTH      PELL CITY    AL  35125   3/12/2015
25               430 RIVERS AVENUE        EUFAULA    AL  36027   12/8/2013
26               430 RIVERS AVENUE        EUFAULA    AL  36027   12/8/2013
27    915 STEWART AVENUE SOUTHEAST        ATTALLA    AL  35954    2/5/2016
28            820 GOLF COURSE ROAD       BESSEMER    AL  35020   7/14/2016
29                1028 BESSEMER RD     BIRMINGHAM    AL  35228   1/23/2015
...                            ...            ...   ...    ...         ...
6613                   355 FM 83 W       HEMPHILL    TX  75948   3/29/2016
6614                   355 FM 83 W       HEMPHILL    TX  75948   3/29/2016
6615                   355 FM 83 W       HEMPHILL    TX  75948  11/11/2015
6616                   355 FM 83 W       HEMPHILL    TX  75948  11/11/2015
6617     4105 TERAVISTA CLUB DRIVE     ROUND ROCK    TX  78665   2/13/2014
6618            27840 JOHNSON ROAD        TOMBALL    TX  77375   5/14/2014
6619           201 WATERMERE DRIVE      SOUTHLAKE    TX  76092  11/18/2015
6620           201 WATERMERE DRIVE      SOUTHLAKE    TX  76092  11/18/2015
6621           201 WATERMERE DRIVE      SOUTHLAKE    TX  76092   1/31/2015
6622          303 HOLLOW TREE LANE        HOUSTON    TX  77090  10/14/2014
6623   5665 CREEKSIDE FOREST DRIVE  THE WOODLANDS    TX  77389   9/22/2015
6624   5665 CREEKSIDE FOREST DRIVE  THE WOODLANDS    TX  77389   9/22/2015
6625         3443 N MACARTHUR BLVD         IRVING    TX  75062    5/6/2016
6626                4100 MOORES LN      TEXARKANA    TX  75503   8/28/2014
6627                4100 MOORES LN      TEXARKANA    TX  75503   8/28/2014
6628                4100 MOORES LN      TEXARKANA    TX  75503   8/28/2014
6629       1011 MAINLAND CENTER DR     TEXAS CITY    TX  77591   3/22/2016
6630             535 S AUSTIN ROAD     EAGLE LAKE    TX  77434   4/14/2016
6631             535 S AUSTIN ROAD     EAGLE LAKE    TX  77434   4/14/2016
6632           14100 KARISSA COURT        HOUSTON    TX  77049  10/28/2014
6633           14100 KARISSA COURT        HOUSTON    TX  77049  10/28/2014
6634               3640 HAMPTON DR  MISSOURI CITY    TX  77459  11/19/2015
6635        1690 N. TREADWAY BLVD.        ABILENE    TX  79601   12/3/2015
6636    2930 CYPRESS GROVE MEADOWS        HOUSTON    TX  77014   2/18/2016
6637               13428 BISSONNET        HOUSTON    TX  77083  11/19/2015
6638               13428 BISSONNET        HOUSTON    TX  77083   7/30/2015
6639                   210 RICE ST     NEW BOSTON    TX  75570   5/18/2016
6640                   210 RICE ST     NEW BOSTON    TX  75570    3/1/2016
6641                   210 RICE ST     NEW BOSTON    TX  75570    3/1/2016
6642                   210 RICE ST     NEW BOSTON    TX  75570   9/14/2015

          pnlty_type  fine_amt payden_strt_dt  payden_days   filedate
0               Fine    6600.0            NaN          NaN  10/1/2016
1               Fine   13800.0            NaN          NaN  10/1/2016
2               Fine   13813.0            NaN          NaN  10/1/2016
3               Fine   13260.0            NaN          NaN  10/1/2016
4               Fine    2210.0            NaN          NaN  10/1/2016
5               Fine  142870.0            NaN          NaN  10/1/2016
6     Payment Denial       NaN      7/10/2014          5.0  10/1/2016
7               Fine   58273.0            NaN          NaN  10/1/2016
8               Fine    6338.0            NaN          NaN  10/1/2016
9               Fine  134900.0            NaN          NaN  10/1/2016
10              Fine   14625.0            NaN          NaN  10/1/2016
11    Payment Denial       NaN      1/11/2014         58.0  10/1/2016
12              Fine  189763.0            NaN          NaN  10/1/2016
13              Fine   71500.0            NaN          NaN  10/1/2016
14              Fine   24180.0            NaN          NaN  10/1/2016
15              Fine    5363.0            NaN          NaN  10/1/2016
16              Fine    3900.0            NaN          NaN  10/1/2016
17              Fine    6500.0            NaN          NaN  10/1/2016
18              Fine    4100.0            NaN          NaN  10/1/2016
19              Fine  183105.0            NaN          NaN  10/1/2016
20    Payment Denial       NaN     11/19/2015         40.0  10/1/2016
21              Fine    6435.0            NaN          NaN  10/1/2016
22              Fine   15600.0            NaN          NaN  10/1/2016
23              Fine    3640.0            NaN          NaN  10/1/2016
24              Fine   44400.0            NaN          NaN  10/1/2016
25              Fine    6500.0            NaN          NaN  10/1/2016
26    Payment Denial       NaN      1/10/2014          3.0  10/1/2016
27              Fine   59881.0            NaN          NaN  10/1/2016
28              Fine    1300.0            NaN          NaN  10/1/2016
29              Fine    4843.0            NaN          NaN  10/1/2016
...              ...       ...            ...          ...        ...
6613            Fine    4500.0            NaN          NaN  10/1/2016
6614  Payment Denial       NaN      4/27/2016         51.0  10/1/2016
6615            Fine    1170.0            NaN          NaN  10/1/2016
6616  Payment Denial       NaN      12/9/2015          2.0  10/1/2016
6617            Fine    1300.0            NaN          NaN  10/1/2016
6618            Fine    1268.0            NaN          NaN  10/1/2016
6619            Fine   83940.0            NaN          NaN  10/1/2016
6620  Payment Denial       NaN     12/19/2015         11.0  10/1/2016
6621            Fine  119633.0            NaN          NaN  10/1/2016
6622  Payment Denial       NaN      2/26/2015         20.0  10/1/2016
6623            Fine    3250.0            NaN          NaN  10/1/2016
6624            Fine    3250.0            NaN          NaN  10/1/2016
6625            Fine    2600.0            NaN          NaN  10/1/2016
6626            Fine    3250.0            NaN          NaN  10/1/2016
6627            Fine    2275.0            NaN          NaN  10/1/2016
6628  Payment Denial       NaN      9/27/2014          6.0  10/1/2016
6629  Payment Denial       NaN      4/20/2016         82.0  10/1/2016
6630            Fine    1105.0            NaN          NaN  10/1/2016
6631  Payment Denial       NaN      5/13/2016          3.0  10/1/2016
6632            Fine    1625.0            NaN          NaN  10/1/2016
6633  Payment Denial       NaN      1/15/2015         25.0  10/1/2016
6634  Payment Denial       NaN     12/19/2015         27.0  10/1/2016
6635            Fine   23537.0            NaN          NaN  10/1/2016
6636  Payment Denial       NaN      3/19/2016         22.0  10/1/2016
6637  Payment Denial       NaN     12/22/2015         31.0  10/1/2016
6638            Fine   27593.0            NaN          NaN  10/1/2016
6639  Payment Denial       NaN      6/17/2016          7.0  10/1/2016
6640            Fine    1450.0            NaN          NaN  10/1/2016
6641  Payment Denial       NaN      3/30/2016         35.0  10/1/2016
6642  Payment Denial       NaN      10/6/2015         29.0  10/1/2016

[6643 rows x 12 columns]

In [85]:
#Import dependencies
import csv
import numpy as np
from matplotlib import pyplot as plt
from scipy import stats
import requests
import json
import statistics
%matplotlib inline

In [47]:
list (df)

['provnum',
 'provname',
 'address',
 'city',
 'state',
 'zip',
 'pnlty_date',
 'pnlty_type',
 'fine_amt',
 'payden_strt_dt',
 'payden_days',
 'filedate']

data = pd.read_csv ('Penalties By State CSV.csv')
df = pd.DataFrame(data, columns= ['state', 'fine-amt'])
print (df)

In [89]:
#Avg Fine Overall
df.loc[:, "fine_amt"].mean()

24949.768437141764

In [94]:
group_by_state = data.groupby(['state'])
print(group_by_state)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000239DC70FF28>

In [92]:
group_by_state.mean()

                      provnum       zip  payden_days
state fine_amt
AK    1105.0     25026.000000  99762.00          NaN
      1170.0     25025.000000  99504.00          NaN
      1300.0     25015.000000  99929.00          NaN
      1983.0     25032.000000  99835.00          NaN
      2100.0     25032.000000  99835.00          NaN
      3575.0     25032.000000  99835.00          NaN
      3900.0     25026.000000  99744.00          NaN
      6500.0     25037.000000  99559.00          NaN
      21548.0    25028.000000  99574.00          NaN
      63700.0    25025.000000  99504.00          NaN
AL    650.0      15398.500000  36304.25          NaN
      715.0      15375.000000  36207.00          NaN
      1300.0     15340.333333  36034.00          NaN
      1463.0     15445.000000  35214.00          NaN
      2210.0     15048.000000  35055.00          NaN
      2438.0     15382.000000  36869.00          NaN
      3200.0     15424.000000  36274.00          NaN
      3640.0     15182.000000  36033.00          NaN
      3900.0     15145.000000  35244.00          NaN
      4100.0     15163.000000  35950.00          NaN
      4550.0     15421.500000  35998.00          NaN
      4843.0     15303.000000  35228.00          NaN
      5363.0     15135.000000  36116.00          NaN
      5525.0     15459.000000  35244.00          NaN
      6338.0     15060.000000  35020.00          NaN
      6400.0     15435.000000  36608.00          NaN
      6435.0     15169.000000  35630.00          NaN
      6500.0     15175.000000  36317.00          NaN
      6600.0     15019.000000  36025.00          NaN
      8970.0     15379.000000  36695.00          NaN
...                       ...       ...          ...
WI    88628.0   525390.000000  53547.00          NaN
      90253.0   525273.000000  53511.00          NaN
      103578.0  525415.000000  53051.00          NaN
      113690.0  525484.000000  54911.00          NaN
      160615.0  525309.000000  53209.00          NaN
WV    1950.0    515185.000000  24901.00          NaN
      4550.0    515021.000000  25727.00          NaN
      5363.0    515181.000000  26104.00          NaN
      5428.0    515029.000000  26651.00          NaN
      8353.0    515107.000000  26330.00          NaN
      11083.0   515160.000000  26378.00          NaN
      22100.0   515180.000000  26601.00          NaN
      22426.0   515122.000000  26726.00          NaN
      24180.0   515076.000000  25951.00          NaN
      29398.0   515028.000000  24740.00          NaN
      30355.0   515159.000000  26101.00          NaN
      33638.0   515061.000000  25855.00          NaN
      54925.0   515129.000000  26416.00          NaN
      55803.0   515113.000000  25702.00          NaN
      60505.0   515057.000000  26354.00          NaN
      66105.0   515060.000000  25701.00          NaN
      74588.0   515075.000000  26554.00          NaN
      81900.0   515187.000000  24740.00          NaN
      91780.0   515035.000000  25177.00          NaN
      99710.0   515192.000000  25510.00          NaN
      101002.0  515064.000000  25550.00          NaN
      120511.0  515185.000000  24901.00          NaN
      198185.0  515061.000000  25855.00          NaN
      237120.0  515189.000000  26554.00          NaN
      541385.0  515035.000000  25177.00          NaN

[3591 rows x 3 columns]

In [104]:
df.drop([3, 4, 5])

     state  fine-amt
0       AL       NaN
1       AL       NaN
2       AL       NaN
6       AL       NaN
7       AL       NaN
8       AL       NaN
9       AL       NaN
10      AL       NaN
11      AL       NaN
12      AL       NaN
13      AL       NaN
14      AL       NaN
15      AL       NaN
16      AL       NaN
17      AL       NaN
18      AL       NaN
19      AL       NaN
20      AL       NaN
21      AL       NaN
22      AL       NaN
23      AL       NaN
24      AL       NaN
25      AL       NaN
26      AL       NaN
27      AL       NaN
28      AL       NaN
29      AL       NaN
30      AL       NaN
31      AL       NaN
32      AL       NaN
...    ...       ...
6613    TX       NaN
6614    TX       NaN
6615    TX       NaN
6616    TX       NaN
6617    TX       NaN
6618    TX       NaN
6619    TX       NaN
6620    TX       NaN
6621    TX       NaN
6622    TX       NaN
6623    TX       NaN
6624    TX       NaN
6625    TX       NaN
6626    TX       NaN
6627    TX       NaN
6628    TX       NaN
6629    TX       NaN
6630    TX       NaN
6631    TX       NaN
6632    TX       NaN
6633    TX       NaN
6634    TX       NaN
6635    TX       NaN
6636    TX       NaN
6637    TX       NaN
6638    TX       NaN
6639    TX       NaN
6640    TX       NaN
6641    TX       NaN
6642    TX       NaN

[6640 rows x 2 columns]

In [122]:
#avg in Alaska
AK = data[data['state'] == 'AK']['fine_amt']
AK.mean()

8701.615384615385

In [120]:
#avg in Alabama
AL = data[data['state'] == 'AL']['fine_amt']
AL.mean()

43613.87037037037

In [123]:
#avg in Arkansas
AR = data[data['state'] == 'AR']['fine_amt']
AR.mean()

28491.675438596492

In [124]:
#avg in Arizona
AZ = data[data['state'] == 'AZ']['fine_amt']
AZ.mean()

26090.387096774193

In [125]:
#avg in California
CA = data[data['state'] == 'CA']['fine_amt']
CA.mean()

25504.463829787233

In [127]:
#avg in Colorado
CO = data[data['state'] == 'CO']['fine_amt']
CO.mean()

6647.887640449439

In [126]:
#avg in Connecticut
CT = data[data['state'] == 'CT']['fine_amt']
CT.mean()

5119.935135135135

In [128]:
#avg in Delaware
DE = data[data['state'] == 'DE']['fine_amt']
DE.mean()

37635.142857142855

In [1]:
#avg in DC (District of Columbia)
DC = data[data['state'] == 'DC']['fine_amt']
DC.mean()

NameError: name 'data' is not defined

In [129]:
#avg in Florida
FL = data[data['state'] == 'FL']['fine_amt']
FL.mean()

25205.172804532576

In [130]:
#avg in Georgia
GA = data[data['state'] == 'GA']['fine_amt']
GA.mean()

46303.42452830189

In [132]:
#avg in Hawaii
HI = data[data['state'] == 'HI']['fine_amt']
HI.mean()

12797.25

In [133]:
#avg in Iowa
IA = data[data['state'] == 'IA']['fine_amt']
IA.mean()

19091.34375

In [134]:
#avg in Idaho
ID = data[data['state'] == 'ID']['fine_amt']
ID.mean()

1780.1969696969697

In [135]:
#avg in Illinois
IL = data[data['state'] == 'IL']['fine_amt']
IL.mean()

25068.960975609756

In [136]:
#avg in Indiana
IN = data[data['state'] == 'IN']['fine_amt']
IN.mean()

13289.051612903226

In [137]:
#avg in Kansas
KS = data[data['state'] == 'KS']['fine_amt']
KS.mean()

18640.813559322032

In [138]:
#avg in Kentucky
KY = data[data['state'] == 'KY']['fine_amt']
KY.mean()

91270.41025641025

In [139]:
#avg in Louisiana
LA = data[data['state'] == 'LA']['fine_amt']
LA.mean()

53663.90909090909

In [140]:
#avg in Massachusetts
MA = data[data['state'] == 'MA']['fine_amt']
MA.mean()

15945.916666666666

In [141]:
#avg in Maryland
MD = data[data['state'] == 'MD']['fine_amt']
MD.mean()

92603.5

In [142]:
#avg in Maine
ME = data[data['state'] == 'ME']['fine_amt']
ME.mean()

4230.75

In [143]:
#avg in Michigan
MI = data[data['state'] == 'MI']['fine_amt']
MI.mean()

11775.371794871795

In [144]:
#avg in Minnesota
MN = data[data['state'] == 'MN']['fine_amt']
MN.mean()

12661.177419354839

In [145]:
#avg in Missouri
MO = data[data['state'] == 'MO']['fine_amt']
MO.mean()

25050.89534883721

In [146]:
#avg in Mississippi
MS = data[data['state'] == 'MS']['fine_amt']
MS.mean()

48725.94736842105

In [147]:
#avg in Montana
MT = data[data['state'] == 'MT']['fine_amt']
MT.mean()

22510.08

In [148]:
#avg in N.Carolina
NC = data[data['state'] == 'NC']['fine_amt']
NC.mean()

41121.948837209304

In [149]:
#avg in N. Dakota
ND = data[data['state'] == 'ND']['fine_amt']
ND.mean()

8750.0

In [150]:
#avg in Nebraska
NE = data[data['state'] == 'NE']['fine_amt']
NE.mean()

11711.764705882353

In [151]:
#avg in New Hampshire
NH = data[data['state'] == 'NH']['fine_amt']
NH.mean()

12330.166666666666

In [152]:
#avg in New Jersey
NJ = data[data['state'] == 'NJ']['fine_amt']
NJ.mean()

13904.532258064517

In [153]:
#avg in New Mexico
NM = data[data['state'] == 'NM']['fine_amt']
NM.mean()

19194.98076923077

In [154]:
#avg in Nevada
NV = data[data['state'] == 'NV']['fine_amt']
NV.mean()

15363.333333333334

In [155]:
#avg in New York State
NY = data[data['state'] == 'NY']['fine_amt']
NY.mean()

23533.977272727272

In [156]:
#avg in Ohio
OH = data[data['state'] == 'OH']['fine_amt']
OH.mean()

15019.448979591836

In [157]:
#avg in Oklahoma
OK = data[data['state'] == 'OK']['fine_amt']
OK.mean()

18488.355704697988

In [158]:
#avg in Oregon
OR = data[data['state'] == 'OR']['fine_amt']
OR.mean()

2170.2705882352943

In [159]:
#avg in Penn.
PA = data[data['state'] == 'PA']['fine_amt']
PA.mean()

40503.359375

In [160]:
#avg in Rhode Island
RI = data[data['state'] == 'RI']['fine_amt']
RI.mean()

5924.6

In [161]:
#avg in S. Carolina
SC = data[data['state'] == 'SC']['fine_amt']
SC.mean()

52081.70238095238

In [162]:
#avg in S. Dakota
SD = data[data['state'] == 'SD']['fine_amt']
SD.mean()

15637.0

In [163]:
#avg in Tennessee
TN = data[data['state'] == 'TN']['fine_amt']
TN.mean()

110209.23188405797

In [164]:
#avg in Texas
TX = data[data['state'] == 'TX']['fine_amt']
TX.mean()

18253.70514603616

In [165]:
#avg in Utah
UT = data[data['state'] == 'UT']['fine_amt']
UT.mean()

6665.105263157895

In [166]:
#avg in Virginia
VA = data[data['state'] == 'VA']['fine_amt']
VA.mean()

65670.6

In [167]:
#avg in Vermont
VT = data[data['state'] == 'VT']['fine_amt']
VT.mean()

30441.923076923078

In [168]:
#avg in Washington State
WA = data[data['state'] == 'WA']['fine_amt']
WA.mean()

5742.023952095808

In [169]:
#avg in Wisconsin
WI = data[data['state'] == 'WI']['fine_amt']
WI.mean()

17725.942857142858

In [170]:
#avg in W. VA
WV = data[data['state'] == 'WV']['fine_amt']
WV.mean()

74387.88888888889

In [171]:
#avg in Wyoming, no fines were found in Wyoming
WY = data[data['state'] == 'WY']['fine_amt']
WY.mean()

nan

In [172]:
group_by_state.mean()

             provnum           zip       fine_amt  payden_days
state
AK      25026.133333  99687.200000    8701.615385    16.000000
AL      15273.564516  35970.274194   43613.870370    19.125000
AR      45324.694805  72204.168831   28491.675439    33.675000
AZ      35163.977778  85526.933333   26090.387097    22.000000
CA     306322.363380  93203.146479   25504.463830    43.141667
CO      65227.933333  80603.425000    6647.887640    30.193548
CT      75276.450777   6435.891192    5119.935135     9.000000
DC      95024.062500  20021.562500   99856.666667    63.600000
DE      85026.000000  19822.666667   37635.142857    31.625000
FL     105577.786967  33392.573935   25205.172805    24.608696
GA     115482.669355  31314.088710   46303.424528    33.388889
HI     125027.461538  96779.615385   12797.250000     3.000000
IA     165345.000000  51085.214286   19091.343750    32.925926
ID     135082.012048  83503.385542    1780.196970    41.352941
IL     145684.754789  61295.233716   25068.960976    25.535714
IN     155422.957317  46755.073171   13289.051613    38.555556
KS     175332.834197  66989.611399   18640.813559    37.146667
KY     185250.940887  41272.886700   91270.410256    33.489362
LA     195437.677419  70845.403226   53663.909091    22.000000
MA     225432.003817   1865.416031   15945.916667    35.300000
MD     215167.767442  21310.372093   92603.500000    37.727273
ME     205104.214286   4551.214286    4230.750000     8.000000
MI     235353.508361  48806.622074   11775.371795    28.030769
MN     245391.013333  55949.653333   12661.177419    28.384615
MO     265503.613793  64121.917241   25050.895349    47.593220
MS     255225.111111  39264.444444   48725.947368    24.428571
MT     275102.210526  59516.447368   22510.080000    26.923077
NC     345298.421488  28060.566116   41121.948837    25.703704
ND     355104.500000  58109.000000    8750.000000     6.000000
NE     285173.720930  68505.279070   11711.764706    25.307692
NH     305057.000000   3334.857143   12330.166667    33.000000
NJ     315273.765625   8007.218750   13904.532258    23.000000
NM     325065.250000  87542.355263   19194.980769    36.625000
NV     295053.368421  89217.157895   15363.333333    17.500000
NY     335535.122449  12855.979592   23533.977273    54.800000
OH     365803.227154  44275.947781   15019.448980    21.750000
OK     375367.377193  73857.135965   18488.355705    35.000000
OR     385167.643678  97358.919540    2170.270588    30.000000
PA     395527.875000  17783.863636   40503.359375    34.291667
PR     405023.777778    745.222222   14133.500000    14.000000
RI     415083.384615   2888.615385    5924.600000    26.333333
SC     425208.800000  29439.610526   52081.702381    15.272727
SD     435051.750000  57290.666667   15637.000000    22.000000
TN     445289.777778  37747.677778  110209.231884    22.761905
TX     625844.491935  77091.967742   18253.705146    26.978022
UT     465094.536585  84289.292683    6665.105263    14.000000
VA     495249.532258  23238.612903   65670.600000    21.647059
VT     475030.000000   5561.117647   30441.923077    19.250000
WA     505311.724719  98513.685393    5742.023952    18.818182
WI     525449.408889  53870.191111   17725.942857    27.160000
WV     515108.352941  25822.088235   74387.888889    21.428571
WY     535034.285714  82402.857143            NaN    33.285714

In [200]:
#create a new dataframe - KEEP THIS CODE, IT WORKS!
def select_columns(data_frame, state, fine_amt):
    new_frame = data_frame.loc[:, column_names]
    return new_frame
    print(new_frame)

In [13]:
#Importing Dependencies
import pandas as pd
import csv
import numpy as np
from matplotlib import pyplot as plt
from scipy import stats
import requests
import json
import statistics
%matplotlib inline

In [16]:
df = pd.read_csv('Penalties by State CSV.csv')
df_nona = df.dropna()
df_nona.dtypes

provnum             int64
provname           object
address            object
city               object
state              object
zip                 int64
pnlty_date         object
pnlty_type         object
fine_amt          float64
payden_strt_dt     object
payden_days       float64
filedate           object
dtype: object

In [ ]:
#avg fine by state***